In [1]:
import pandas as pd

In [14]:
df1 = pd.read_csv(r'cfc1.csv')
df2 = pd.read_csv(r'cfc2.csv')
df3 = pd.read_csv(r'cfc3.csv')
df4 = pd.read_csv(r'cfc4.csv')
df5 = pd.read_csv(r'cfc5.csv')
df6 = pd.read_csv(r'cfc6.csv')
df7 = pd.read_csv(r'cfc7.csv')
df8 = pd.read_csv(r'cfc8.csv')
df9 = pd.read_csv(r'cfc9.csv')

/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11,16,28,45,50,51,54,61,63,71,72,73,74,75) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (9,10,11,14,15,16,23,45,54,62,64,66,67,68,69,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (13,19,31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ahmed.safdar/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (13,14,15,20,21,22,34) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df1.head()

,CanvassFileRequestID,VanID,Phone,PhoneDialingPrefix,PhoneCountryCode,State,Address,FirstName,LastName,StreetAddress,...,aC2020-09-16,aC2020-09-17,aC2020-09-18,aC2020-09-19,Q5,QT1,QT2,QT3,QT4,QT5
0,4279,1546567,(608) 332-8851,1,US,IL,"4270 Portage Ln , Hoffman Estates, IL 60192",Sarah,Iovan,4270 Portage Ln,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,4279,1702274,(847) 867-0136,1,US,IL,"1312 Rolling Prairie Ct , Hoffman Estates, IL ...",Thomas,Morel,1312 Rolling Prairie Ct,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,4279,1734363,(847) 840-7362,1,US,IL,"4566 Topaz Dr , Hoffman Estates, IL 60192",Cathleen,Simboli,4566 Topaz Dr,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
3,4279,1743731,(847) 767-7657,1,US,IL,"1200 W Sturbridge Dr , Hoffman Estates, IL 60192",Naseeb,Fuzail,1200 W Sturbridge Dr,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
4,4279,1744625,(847) 962-3691,1,US,IL,"4190 N Sturbridge Dr , Hoffman Estates, IL 60192",Paul,Schweet,4190 N Sturbridge Dr,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
df1.shape

(55584, 56)

In [17]:
df1 = df1[df1['R4'].notna()]

In [18]:
df1.shape

(55, 56)

In [19]:
df1.head()

,CanvassFileRequestID,VanID,Phone,PhoneDialingPrefix,PhoneCountryCode,State,Address,FirstName,LastName,StreetAddress,...,aC2020-09-16,aC2020-09-17,aC2020-09-18,aC2020-09-19,Q5,QT1,QT2,QT3,QT4,QT5
9175,4279,19215338,(773) 764-1400,1,US,IL,"704 Skye Ln , Inverness, IL 60010",Tariq,Usman,704 Skye Ln,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Vote By Mail,NaN,No
9490,4279,4003575,(630) 653-3001,1,US,IL,"1721 E Indiana St , Wheaton, IL 60187",Edwena,Grafer,1721 E Indiana St,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Vote By Mail,NaN,No
9710,4279,6818166,(630) 653-3429,1,US,IL,"945 Kingston St , Wheaton, IL 60187",Sharon,Korty,945 Kingston St,...,NaN,NaN,NaN,NaN,3,Strong Casten,NaN,Vote By Mail,NaN,Maybe
9939,4279,2285413,(630) 837-5890,1,US,IL,"950 Bryn Mawr Ave , Bartlett, IL 60103",Catherine,Vitale,950 Bryn Mawr Ave,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Early Vote,NaN,No
11106,4279,5584224,(630) 231-1478,1,US,IL,"146 Ingalton Ave , West Chicago, IL 60185",Henry,Bahr,146 Ingalton Ave,...,NaN,NaN,NaN,NaN,5,Strong Casten,NaN,Vote By Mail,NaN,Hung Up/Did Not Answer

In [20]:
df1.reset_index(inplace = True, drop = True)

In [21]:
df1.head()

,CanvassFileRequestID,VanID,Phone,PhoneDialingPrefix,PhoneCountryCode,State,Address,FirstName,LastName,StreetAddress,...,aC2020-09-16,aC2020-09-17,aC2020-09-18,aC2020-09-19,Q5,QT1,QT2,QT3,QT4,QT5
0,4279,19215338,(773) 764-1400,1,US,IL,"704 Skye Ln , Inverness, IL 60010",Tariq,Usman,704 Skye Ln,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Vote By Mail,NaN,No
1,4279,4003575,(630) 653-3001,1,US,IL,"1721 E Indiana St , Wheaton, IL 60187",Edwena,Grafer,1721 E Indiana St,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Vote By Mail,NaN,No
2,4279,6818166,(630) 653-3429,1,US,IL,"945 Kingston St , Wheaton, IL 60187",Sharon,Korty,945 Kingston St,...,NaN,NaN,NaN,NaN,3,Strong Casten,NaN,Vote By Mail,NaN,Maybe
3,4279,2285413,(630) 837-5890,1,US,IL,"950 Bryn Mawr Ave , Bartlett, IL 60103",Catherine,Vitale,950 Bryn Mawr Ave,...,NaN,NaN,NaN,NaN,2,Strong Casten,NaN,Early Vote,NaN,No
4,4279,5584224,(630) 231-1478,1,US,IL,"146 Ingalton Ave , West Chicago, IL 60185",Henry,Bahr,146 Ingalton Ave,...,NaN,NaN,NaN,NaN,5,Strong Casten,NaN,Vote By Mail,NaN,Hung Up/Did Not Answer

In [23]:
df2 = df2[df2['R4'].notna()]
df3 = df3[df3['R4'].notna()]
df4 = df4[df4['R4'].notna()]
df5 = df5[df5['R5'].notna()]
df6 = df6[df6['R4'].notna()]
df7 = df7[df7['R4'].notna()]
df8 = df8[df8['R4'].notna()]
df9 = df9[df9['R4'].notna()]

In [24]:
df2.reset_index(inplace = True, drop = True)
df3.reset_index(inplace = True, drop = True)
df4.reset_index(inplace = True, drop = True)
df5.reset_index(inplace = True, drop = True)
df6.reset_index(inplace = True, drop = True)
df7.reset_index(inplace = True, drop = True)
df8.reset_index(inplace = True, drop = True)
df9.reset_index(inplace = True, drop = True)

In [25]:
df1.to_csv('cfc1_modified.csv')
df2.to_csv('cfc2_modified.csv')
df3.to_csv('cfc3_modified.csv')
df4.to_csv('cfc4_modified.csv')
df5.to_csv('cfc5_modified.csv')
df6.to_csv('cfc6_modified.csv')
df7.to_csv('cfc7_modified.csv')
df8.to_csv('cfc8_modified.csv')
df9.to_csv('cfc9_modified.csv')