In [1]:
import pandas as pd

In [2]:
df = pd.read_excel (r'new_list.xlsx')
df.head()

,VANID,Last,First,Mid,Suf,Home Phone,Address,City,State/Province,Zip/Postal,Zip4,CountryCode,PersonalEmail,PreferredEmail
0,113415339,Kimbell,Dave,NaN,NaN,NaN,2623 Lincoln St,Evanston,IL,60201,2138.0,US,dckimbell@gmail.com,dckimbell@gmail.com
1,112441070,Calkins,Peggy,NaN,NaN,7.078244e+09,6134 Vine Hill School Rd,Sebastopol,CA,95472,2029.0,US,glenncalkins@gmail.com,glenncalkins@gmail.com
2,111904224,Lara,Jessica,NaN,NaN,NaN,NaN,Washington,DC,20001,NaN,US,jessica@blueprintinteractive.com,jessica@blueprintinteractive.com
3,112510075,Gebhardt,Richard,NaN,NaN,NaN,1601 E Main Cross St,Findlay,OH,45840,7023.0,US,bgebhardtr@gmail.com,bgebhardtr@gmail.com
4,103454961,Dixon,Lance,NaN,NaN,NaN,NaN,Menlo Park,CA,94025,NaN,US,NaN,lance@SLAC.Stanford.EDU

In [3]:
df.shape

(186781, 14)

In [4]:
df.rename(columns = {'PreferredEmail ':'PreferredEmail'}, inplace = True)

In [5]:
df['PreferredEmail'] = df['PreferredEmail'].astype(str)

In [6]:
df = df[df.PreferredEmail != 'nan']

In [7]:
df.shape

(96577, 14)

In [8]:
df = df[df.duplicated(['PreferredEmail'], keep='first')]

In [9]:
df.shape

(2637, 14)

In [10]:
df.head()

,VANID,Last,First,Mid,Suf,Home Phone,Address,City,State/Province,Zip/Postal,Zip4,CountryCode,PersonalEmail,PreferredEmail
904,103448806,Marsh,Dede,NaN,NaN,NaN,NaN,Hinsdale,IL,60521,NaN,US,NaN,demarsh1@yahoo.com
2024,103448863,Blanchard,Mike & Katie,NaN,NaN,NaN,NaN,Downers Grove,IL,60515,NaN,US,NaN,katieblanchard@comcast.net
2459,103455094,Leavy,Elyse,NaN,NaN,6.308586e+09,635 Newton Ave,Glen Ellyn,IL,60137,4015.0,US,elysejk@aol.com,elysejk@aol.com
2723,103455033,Lane,Joan,NaN,NaN,NaN,NaN,Atherton,CA,94027,NaN,US,NaN,joan.lane@stanford.edu
2775,103446966,Civitanova,Kristin,NaN,NaN,NaN,4932 Montgomery Ave,Downers Grove,IL,60515,3418.0,US,civifamily@comcast.net,civifamily@comcast.net

In [11]:
df.to_excel(r'dupes_test.xlsx', index = False)